<!DOCTYPE html>
<html>
<head>
    <meta charset="">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="" />
    <link rel="dns-prefetch" href="//cdn.bootcss.com" />
    <link rel="dns-prefetch" href="//secure.gravatar.com" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="HXEnJ6E49Q" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
   <link rel="shortcut icon" href="#(config.ico??"/favicon.ico")">
    <link rel="apple-touch-icon" href="#(config.ico??"/favicon.ico")">
    <meta name="author" content="#(config.author)(#(basePath))"/>
    <meta name="keywords" content="#(seoKeywords)"/>
    <meta name="description" content="#(seoDescr)"/>
    <title>#(seoTitle==null?config.title:(seoTitle==config.title?seoTitle:seoTitle+"-"+config.title))</title>
    <link href="//cdn.bootcss.com/highlight.js/9.10.0/styles/xcode.min.css" rel="stylesheet">
    <link href="/_view/templates/pinghsu/static/css/style.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
.this{
color:#eb5054;
}
</style>
 #@jquery()
</head>
<body class="" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->

<header id="header" class="header bg-white">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">  
            <img src="#(config.logo??"/logo.png")" alt="" /> 
        </a>
        <div class="navbar-menu">
         	#for(nav:navs)
         		<a href="#(nav.url)" class="header-categry ">#(nav.title)</a>
         	#end
        </div>
        
         <a href="/search" class="navbar-search">
            <span class="icon-search"></span>
         </a>
         
  
        
        <div class="navbar-mobile-menu" onclick="">
            <span class="icon-menu cross"><span class="middle"></span></span>
            <ul  class="categorys">
               #for(nav:navs)
	         		<li><a href="#(nav.url)" class="header-categry ">#(nav.title)</a></li>
	         	#end
            </ul>
        </div>
    </div>
</header>