 

#include('header.html')
<div class="main-content archive-page clearfix">
 
     
       
            <div class="categorys-item">
                <div class="categorys-title">
                    <a href="">#(category.mname)</a><span> ：#(category.count)</span>
                </div>
                
            		<div class="post-lists">
						<div class="post-lists-body">
					   #if(articlePage==null||articlePage.list.isEmpty())
		            		<div class="post-list-item">暂无文章,先看看其他的吧</div> 
		            	#end
                #for(article : articlePage.list??)
                <div class="post-list-item">
                    <div class="post-list-item-container">
                        <div class="item-label">
                            <div class="item-title">
                                <a href="/a/#(article.identify)">#(article.title)</a>
                            </div>
                            <div class="item-intro">
                            	 <a href="/a/#(article.identify)">#(article.intro)</a>
                            </div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-date">发布于 #(article.gmtCreate)</div>
                            </div>
                        </div>
                    </div>
                </div>
                #end
						</div>
					</div>
            
            </div>
      
   
</div>


#include('footer.html')