#include("header.html")

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<article class="main-content #if(showThumb) post-page #else  page-page #end" itemscope itemtype="http://schema.org/Article">
	<div class="post-header">
		<h1 class="post-title" itemprop="name headline">
			#(article.title)
		</h1>
		<div class="post-data">
			<time datetime="#(article.gmtCreate)" itemprop="datePublished">Published on #(article.gmtCreate)</time> in #(article.firstMeta.name) with <a href="#comments"> #(commentPage.totalRow) comment </a>
		</div>
	</div>
	<div id="post-content" class="post-content" itemprop="articleBody">
        <p class="post-tags">
            #for(category:acategorys)
        	 	<a href="/article/category/1-#(category.id)" >#(category.mname)</a>
        	#end
        </p>
		#(article.content)
		<p class="post-info">
			本文由 <a href="#(basePath)">#(config.author)</a> 创作，采用 <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="external nofollow">知识共享署名4.0</a> 国际许可协议进行许可<br>本站文章除注明转载/出处外，均为本站原创或翻译，转载前请务必署名<br> 最后编辑时间为: #(article.gmtModified)
		</p>
	</div>
</article>

<div id="post-bottom-bar" class="post-bottom-bar">
	<div class="bottom-bar-inner">
		<div class="bottom-bar-items social-share left">
			<span class="bottom-bar-item">Share : </span>
			<span class="bottom-bar-item bottom-bar-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($this->permalink()); ?>" target="_blank" title="<?php $this->title() ?>" rel="nofollow">facebook</a></span>
			<span class="bottom-bar-item bottom-bar-twitter"><a href="https://twitter.com/intent/tweet?url=<?php echo urlencode($this->permalink()); ?>&text=<?php echo urlencode($this->title()); ?>" target="_blank" title="<?php $this->title() ?>" rel="nofollow">Twitter</a></span>
			<span class="bottom-bar-item bottom-bar-weibo"><a href="http://service.weibo.com/share/share.php?url=<?php echo urlencode($this->permalink()); ?>&amp;title=<?php echo urlencode($this->title()); ?>" target="_blank" title="<?php $this->title() ?>" rel="nofollow">Weibo</a></span>
			<span class="bottom-bar-item bottom-bar-qrcode"><a href="//pan.baidu.com/share/qrcode?w=300&amp;h=300&amp;url=<?php echo urlencode($this->permalink()); ?>" target="_blank" rel="nofollow">QRcode</a></span>
		</div>
		<div class="bottom-bar-items right">
			<span class="bottom-bar-item"><?php theNext($this); ?></span>
			<span class="bottom-bar-item"><?php thePrev($this); ?></span>
			<span class="bottom-bar-item"><a href="#footer">↓</a></span>
			<span class="bottom-bar-item"><a href="#">↑</a></span>
		</div>
	</div>
</div>
 

#include("comments.html")
#include("footer.html")