#include("header.html")
<div class="main-content page-page">
    <div class="search-page">
        <form id="search" class="search-form" method="post"   role="search">
            <span class="search-box clearfix">
                <input type="text" id="input" class="input" name="keyword" required="true" placeholder="Search..." maxlength="30" autocomplete="off">
                <button type="submit" class="spsubmit"><i class="icon-search"></i></button>
            </span>
        </form>
        <div class="search-tags">
		       #for(tag:tags)
		       	<a href="/c/1-#(tag.id)" class="bg-white"># #(tag.mname)(#(tag.count))</a>
		       #end
		       #if(tags==null||tags.isEmpty())
		       	<p> Nothing here ! </p>
		       #end
	        <div class="search-tags-hr bg-white"></div>
	        </div>
        </div>
    </div>
</div>
 
 
#include('footer.html')